@using Assemblify.Web.ViewModels.Home
@model PostViewModel
<div class="col-md-4">
    @*@Html.DisplayForModel("PostViewModelWithInjection", new { DisplayForInjection = "ViewBag Injection" })*@
    @Html.DisplayForModel("PostViewModelWithoutInjection")
</div>
