@{
    ViewBag.Title = "Home";
}

@using Assemblify.Web.ViewModels.Home
@model HomeViewModel


@Html.ActionLink("Click here to go to TempExample", "TempExample", "Home")

<div class="jumbotron">
    <h1>Assemblify</h1>
    <p class="lead">Create, modify and share guideposts on every topic.</p>
</div>

<div class="row">
    @foreach (var post in Model.Posts)
    {
        @Html.Partial("_PostDetailsPartial", post);
    }
</div>
<hr />
<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, null))
    {
        @Html.Partial("_PostEditPartial", Model.Posts.First());
        <button type="submit">Submit</button>
    }
</div>