@using Assemblify.Web.ViewModels.Home
@model ICollection<PostViewModel>


@foreach (var post in Model)
{
    <div class="col-md-4">
        <h2>@post.Title</h2>
        <p>@post.Content</p>
        <p>@Html.DisplayFor(x => post.PostedOn) - @post.AuthorEmail</p>
    </div>
}
