@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    @Html.ActionLink("Manage Users", "Index", "Users", null, new { @class = "btn btn-default btn-lg" })
    @Html.ActionLink("Manage Posts", "Index", "Post", null, new { @class = "btn btn-default btn-lg" })
</div>
