@{
    ViewBag.Title = "Home";
}

@using Assemblify.Web.ViewModels.Home
@model HomeViewModel

<div class="jumbotron">
    <h1>Assemblify</h1>
    <p class="lead">Create, modify and share guideposts on every topic. in AZURE</p>
</div>

<div class="row">
    @foreach (var post in Model.Posts)
    {
        @Html.Partial("_PostDetailsPartial", post);
    }
</div>