@{
    ViewBag.Title = "Search";
}

@using Assemblify.Web.ViewModels.Home
@model PostSearchViewModel

<hr />
@using (@Html.BeginForm("Search", "Home", FormMethod.Post, null))
{
    @Html.EditorFor(x => x.SearchTerm)

    <input type="submit" value="Search" />
}


@foreach (var post in Model.FoundPosts)
{
    <h2>@post.Title</h2>
}