@{
    ViewBag.Title = "Search";
}

@model Assemblify.Web.ViewModels.Search.PostSearchViewModel

<hr />


@using (Ajax.BeginForm("Index", "Search", 
    new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "resultArea" }))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(x => x.SearchTerm)

    <input type="submit" value="Search" />

}
<div id="resultArea"></div>
