@{
    ViewBag.Title = "Search";
}

<hr />


@using (Ajax.BeginForm("GetPosts","Search",
        new AjaxOptions
        {
            UpdateTargetId = "posts",
            InsertionMode = InsertionMode.Replace
        }))
{
    @Html.AntiForgeryToken()
    <input type="text" name="searchTerm" />
    <input type="submit" value="Search" />
}


<div id="posts">

</div>